<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sea.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,512}</string>
                <key>spriteSourceSize</key>
                <string>{1024,512}</string>
                <key>textureRect</key>
                <string>{{0,0},{1024,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tree.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,500}</string>
                <key>spriteSourceSize</key>
                <string>{1000,500}</string>
                <key>textureRect</key>
                <string>{{1024,0},{1000,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Atlas-02.png</string>
            <key>size</key>
            <string>{2024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:40766db32f1dead799215f5fc528a717:4d305be34dc3d1aa35c58aed1deb023e:23dd2aef3918ddcfa41e5e7d0fe4b293$</string>
            <key>textureFileName</key>
            <string>Atlas-02.png</string>
        </dict>
    </dict>
</plist>
