<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blueFilterLinear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{515,67},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blueFilterNearest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{515,99},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubble.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,64}</string>
                <key>spriteSourceSize</key>
                <string>{50,64}</string>
                <key>textureRect</key>
                <string>{{515,1},{50,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>content.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,512}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1},{512,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>filter-atlas-texturePackerNoRotated.png</string>
            <key>size</key>
            <string>{566,514}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b97a29725c4a9c021fc0ef053ee4fc6:9e81457e4679c0d39c6935570f46ba2f:45da53f49d2dee9ed9f7acb32ecee77e$</string>
            <key>textureFileName</key>
            <string>filter-atlas-texturePackerNoRotated.png</string>
        </dict>
    </dict>
</plist>
